<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Daily Devotion</title>
  </head>
  <body>
    <script src="http://labs.bible.org/api/?passage=random"></script>

    <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css"

  </body>
</html>
