<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Daily Devotion</title>
  <style>
  .flex-container {
    height: 50%;
    margin: 0;
    padding: 0;
  }
  </style>

  <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>

  <ul>
    <ul class = "flex-container1">
      <li class = "flex-item"> {{devotion}} </li>
    </ul>
    <ul class = "flex-container2">
      <li class = "flex-item">Button</li>
    </ul>
  </ul>

</body>
</html>
